* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

body {
    background-color: #282c34;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

marquee{
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 2px;
    overflow-x: scroll;
}
.ConteinerNav{
    display: flex;
    margin: auto;
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    display: flex;
}

nav .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    gap: 10px;
}


nav .logo a img {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

nav .logo ul li a img:hover{
    opacity: 0.1;
    transition: opacity 0.5s;
    
}

nav .logo h1 {
    color: #ccc;
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav ul li {
    margin: 0 15px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ccc;
    font-size: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: #ff6a00;
}

.MainContainer {
    padding: 20px;
    flex: 1;
}

.section1 {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: block;
}

/* Contenedor para Anime */
#anime-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, auto));
    gap: 20px;
    padding: 5%;
    object-fit: fill;
}

#anime-container a {
    text-decoration: none;
    
}

.anime-item {
    background-color: #444;
    border-radius: 8px;
    padding: 20px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.anime-item:hover {
    transform: scale(1.1);
    z-index: 2;
}

#generos {
    display: block;
    padding: 5px;
}

#generitos {
    background-color: #e65a00;
    width: 50%;
    border-radius: 10%;
    display: inline;
    padding: 0.3%;
}

.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    padding: 10px;
    text-decoration: none;
}

.anime-grid a{
    display:contents;
}

.anime-image img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin-right: 15px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.anime-image img:hover {
    transform: scale(1.5);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.anime-info h3 {
    color: #ff6a00;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.anime-info h2 {
    color: #ffffff;
    margin: 20px;
    align-items: center;
    font-size: 1.0rem;
}

.anime-info p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 5;
    margin-bottom: 1%;
    
}

/* -----------------------------------------------Pantalla Inicio -----------------------------------------*/
.busqueda {
    align-content: center;
    margin-right: auto;
}

.busqueda input {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    color: #fff;
    background-color: #3a3a3a;
    font-size: 1rem;
    border-color: #e65a00;
    border-style:outset;
}

.busqueda button{
    display :none
}



.ConteinerCard {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #3a3a3a;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px 20px 20px;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre elementos */
}

.card-content a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #ff6a00;
    background-color: #ff6a00;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: fit-content;
    align-self: center; /* Centra el botón horizontalmente */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-content a:hover {
    background-color: #fff;
    color: #ff6a00;
}

/* -----------------------------------------------Pantalla Login -----------------------------------------*/
.Formulario{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-style:inset;
    width: 37%;
    align-self: center;
    border-color: #3a3a3a;
    padding: 20px;
}

.Formulario h1 {
    color: #ff6a00;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.Formulario p {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

.Nombre {
    width: 400px;
    position: relative;
    margin-bottom:40px;
    margin-left: 15%;
    border-radius: 4px;
    margin-top: 20px;
    background-color: #3a3a3a;
    border: 2px solid #e65a00;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Input transparente */
.Nombre input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

/* Label flotante */
.Nombre label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease all;
}

/* Animación cuando se escribe o enfoca */
.Nombre input:focus + label,
.Nombre input:not(:placeholder-shown) + label {
    top: -1px;
    background-color: #282c34;
    border-radius: 20px;
    left: 10px;
    font-size: 0.85rem;
    color: orange;
}


.Password {
    width: 400px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    margin-left: 15%;
    background-color: #3a3a3a;
    border: 2px solid #e65a00;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Input transparente */
.Password input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

/* Label flotante */
.Password label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease all;
}

/* Animación cuando se escribe o enfoca */
.Password input:focus + label,
.Password input:not(:placeholder-shown) + label {
    top: -1px;
    background-color: #282c34;
    border-radius: 20px;
    left: 10px;
    font-size: 0.85rem;
    color: orange;
}

.Buttoms{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100px;
    align-self: center;
}

.Buttoms input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff6a00;
    color: #fff;
    border-color: #ff6a00;
    border-style: outset;
    align-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin-left: 230px;
    margin-top: 100px;
}




/*-------------------------------------------------Pantalla Sobre Nosotros------------------------------------------------*/
.ConteinerCardSN {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    padding: 1rem;
}

.card {
    flex-shrink: 0;
    max-width: 220px;
    min-width: 200px;
}

.card img {
    width: 100%;
    padding: 0%;
}

body {
    width: 100%;
}

.ConteinerCardSN.card-content a {
    color: blueviolet;
}

.conteinerNav {
    width: 100vw;
}

nav {
    width: 100%;
}

.Title {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 0%;
}


/* Media Query para pantallas de 1024px */

@media (max-width: 1024px) {
    .ConteinerCardSN {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        max-width: 300px;
    }
}





footer {
    background-color: #333;
    color: #ccc;
    text-align: center;
    padding: 10px;
    position: static;
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {

    .busqueda input{
        top: 5px;
    }
    nav h1 {
        font-size: 1.4rem;
        margin-right: auto;
    }
    nav ul {
        width: 20%;
        flex-direction: column;
        margin-right: auto ;
    }

    #anime-container {
        grid-template-columns: 1fr;
    }

    .anime-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .anime-item {
        padding: 10px;
    }

    .anime-image img {
        width: 200px;
    }
    .busqueda input {
        width: 100%;

    }

    .ConteinerCardSN {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        max-width: 300px;
    }

}

@media (max-width: 800px) {
    nav h1 {
        font-size: 2rem;
    }

    .ConteinerNav{
        display: flex;
        flex-direction: column;
    }

    .anime-item {
        margin: 10px 0;
    }

    .busqueda input {
        width: 150px;
    }
    .ConteinerCardSN {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        max-width: 75%;
    }
}
@media (max-width: 480px) {
    .ConteinerCardSN {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
    }
}