/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282c34;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    margin : 0 auto;
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    display: flex;
}

nav h1 {
    color: #ccc;
    font-size: 4rem;
    margin-right: auto;
    background-size: cover;
    margin-left: 2%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: #ff6a00;
}

.MainContainer {
    padding: 20px;
    background-color: #616161;
    flex: 1;
}

.section1 {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#section1{
    display: flex;
    flex-direction: column;
}

.ContienePJ {
    margin-bottom: 20px;
}

.busqueda input {
    padding: 10px;
    margin-right: 5px;
    width: 200px;
    border: 1px solid #555;
    border-radius: 10px;
}

#button {
    padding: 10px;
    background-color: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #e65a00;
}

/* Cambios realizados aquí */
#anime-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, auto)); /* Cambiado a filas */
    gap: 20px;
    padding: 5%;
    object-fit: fill;
}

.anime-item {
    background-color: #444;
    border-radius: 8px;
    padding: 20px;
    margin: 2%; /* Reducido el margen */
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease; /* Agregar transición para el efecto */
}

.anime-item:hover {
    transform: scale(1.1); /* Aumentar tamaño al hacer hover */
    z-index: 2;
}

#generos {
    display: block;
    padding: 5px;
    border-style: 1px solid #ffffff;
}

#generitos {
    background-color: #e65a00;
    width: 50%;
    border-radius: 10%;
    display: inline;
    padding : 0.3%
}
.anime-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cambiado a columnas */
    gap: 50px; 
    padding: 10px;
}

.anime-image img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin-right: 15px;
    object-fit: cover; /* Cubre el área del contenedor sin deformar */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.anime-image img:hover {
    transform: scale(1.5);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 10);
}

.anime-info h3 {
    color: #ff6a00;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin : 0 auto;
}

.anime-info p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 5;
    margin-bottom: 1%;
    margin: 0 auto;
}


footer {
    background-color: #333;
    color: #ccc;
    text-align: center;
    padding: 10px;
    background-position: bottom center;
}

/* Media Queries para Responsividad */
@media (max-width: 800px) {
    body{
        margin : 0 auto;
    }
    nav h1 {
        color: #ccc;
        font-size: 1.4rem;
        margin-right: auto;
        background-size: cover;
    }
    #anime-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
        margin-right : 0 auto;/* Ajustar tamaño de filas para pantallas pequeñas */
        
    }
    .anime-grid{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Cambiado a columnas */
        gap: 20px; /* Espacio entre columnas */
        margin-right : 0 auto;
    }

    .anime-info{
        margin :auto;
    }

    .anime-item {
        padding: 10px; /* Reducir el padding en pantallas pequeñas */
        margin-right : 0 auto;
    }

    .anime-image img {
        width: 200px; /* Ajustar el tamaño de las imágenes en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    nav h1 {
        font-size: 2rem; /* Ajustar el tamaño del título aún más en pantallas muy pequeñas */
    }


    .anime-item {
        margin: 10px 0; /* Ajustar el margen en pantallas muy pequeñas */
    }

    .busqueda input {
        width: 150px; /* Reducir el tamaño del input en pantallas pequeñas */
    }
}
